<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information</title>
 <link rel="stylesheet" href="stylesheets/secondaryPages.css">
</head>
<body>
<div class="borderStyle">
  <h1>User Information</h1>
  
  <ul>
    <li>Username: <%= user.username %></li>
    <li>Email: <%= user.email %></li>
    <li>Token Value: <%= user.tokenValue %></li>
    <li>Last Win: <%= user.lastWin %></li>
    <li>Total Winnings: <%= user.totalWinnings %></li>
  </ul>

  <!-- logout button -->
  <form action="/logout" method="post">
  <div class="buttonWrapper">
    <button class="buttonStyle">Logout</button>
  </form>
  <a href="/delete" class="buttonStyle">Delete account</a>
</div>
</div>
</body>
</html>
